<h1>Thanks for your interest in QuickResolve!</h1>

<p>This site has been converted to a RESTful API that returns JSON of technical blog articles. For the complete webpage click: <a href='http://www.quickresolve.io/'>quickresolve.io</a></p>

<!-- <%= link_to 'My Blog', controller: 'articles' %> -->
<p>Admins may submit new articles here: </p>
<%= link_to 'New article', new_article_path %>
